@import "https://global.hexstreamsoft.com/css/global.css";

main a.private {
    padding-left: 0.8em;
    background-image: url("https://global.hexstreamsoft.com/css/images/locked-padlock.svg");
    background-repeat: no-repeat;
    background-position: 0% 70%;
    background-size: auto 90%;
    color: rgba(0, 0, 0, 0.6);
}


main dl {
    margin: 1.5em 0 1.5em 1.5em;
}

main dl dt {
    margin-left: 0em;
}

main dl dd {
    --dd-default-margin-left: 1em;
    margin-left: var(--dd-default-margin-left);
}

main dl dd.scroll {
    margin-left: 0;
}

main dl dd figure {
    margin-left: 1.5em;
}

@media (max-width: 34em) {
    main dl dt {
        line-height: 1.6em;
    }
    main dl dd figure {
        margin-left: 0;
    }
}

@media (max-width: 24em) {
    main dl, main dl dd {
        margin-left: 0.2em;
    }
    main #overview_workspaces dt .anchor {
        margin-left: 0em;
    }
}
