@import "http://global.hexstreamsoft.com/css/global.css";

/* TODO: Generalize a bit and include in global.*/

ul.tabs {
    display: table;
    border-collapse: collapse;
    margin: -0.5em auto 0;
    background: #FFCC99;
    border: medium solid black;
}

ul.tabs > li {
    display: table-cell;
    border: thin solid grey;
}

ul.tabs > li > a {
    display: block;
    position: relative;
    padding: 0.35em 1em;
    text-decoration: none;
}

ul.tabs > li > a.here {
    text-decoration: underline;
}

ul.tabs > li > a:hover, ul.tabs > li > a:focus {
    background: #FFDD99;
    outline-style: none;
}

ul.tabs > li > a.here:hover, ul.tabs > li > a.here:focus, ul.tabs > li > a.not-available:hover, ul.tabs > li > a.not-available:focus {
    background: transparent;
}


/* TODO: Make global. Since there's only two instances, it's hard to distinguish generalities from specifics. */
.navtable {
    margin-bottom: 1em;
    font-size: larger;
}

.navtable colgroup.main {
    border: 0.15em solid black;
}

.navtable thead th {
    padding: 0.4em 0.6em;
}

.navtable th, .navtable td {
    padding: 0;
}

.navtable th a, .navtable td a {
    display: block;
    padding: 0.4em 0.6em;
    text-decoration: none;
}

.navtable td a[href]:hover, .navtable td a[href]:focus {
    background: #ECE0A5;
}
