@import "https://global.hexstream.dev/css/global.css";

main a.private {
    padding-left: 0.8em;
    background-image: url("https://global.hexstream.dev/css/images/locked-padlock.svg");
    background-repeat: no-repeat;
    background-position: 0% 70%;
    background-size: auto 90%;
    color: rgba(0, 0, 0, 0.6);
}
