#layers {
    flex-flow: row wrap;
    justify-content: flex-start;
}

#layers ul {
    flex-flow: row wrap;
}

#layers .layer-selector.fallback {
    font-style: italic;
}

#layers .group li:not(.layer-selector_base) a:not(:hover) {
    opacity: 0.5;
}

#layers, #features {
    margin-left: 0;
    font-size: large;
}

#features ul:first-child {
    margin-left: 0;
}

#layers #fallback-toggles {
    order: -1;
    margin-left: 0;
}

.select-layer:not(.fallback-toggle):target ~ #layers #fallback-toggles:not(:hover) {
    opacity: 0.5;
}

#layers #fallback-toggles > li:not(#fallback-toggle_fallback),
.select-layer.fallback-toggle:not(.select-layer_base):target ~ #layers #fallback-toggles #fallback-toggle_fallback {
    display: none;
}

.select-layer_base:target ~ #layers #fallback-toggles #fallback-toggle_fallback,
.select-layer_fallback:target ~ #layers #fallback-toggles #fallback-toggle_base,
.select-layer_raise:target ~ #layers #fallback-toggles #fallback-toggle_f-raise,
.select-layer_f-raise:target ~ #layers #fallback-toggles #fallback-toggle_raise,
.select-layer_lower:target ~ #layers #fallback-toggles #fallback-toggle_f-lower,
.select-layer_f-lower:target ~ #layers #fallback-toggles #fallback-toggle_lower,
.select-layer_higher:target ~ #layers #fallback-toggles #fallback-toggle_f-higher,
.select-layer_f-higher:target ~ #layers #fallback-toggles #fallback-toggle_higher {
    display: block;
}

#features {
    margin-bottom: -1.5em;
}

#features #features_close {
    display: none;
}

#features #features_close > li {
    display: none;
}


.scroll {
    position: relative;
}

#keyboard {
    font-size: larger;
}

.layer {
    display: none;
    table-layout: fixed;
    width: 48em;
    text-align: center;
    border-width: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

}

.layer .original,
.layer .original > span:is(:first-child, :last-child) {
    display: none;
}

#fit-width-shrink + .labelled-control {
    display: none;
    margin-left: 0;
}

#fit-width-shrink_left {
    margin-left: -0.4em;
}

#fit-width-enlarge:checked ~ #keyboard {
    font-size: 1.9vw;
}

@media (max-width: 59.5em) {

    #fit-width-enlarge:checked ~ #keyboard {
        font-size: inherit;
    }

    #fit-width-shrink:checked ~ #keyboard {
        font-size: 1.9vw;
    }

    #fit-width-shrink + .labelled-control {
        display: inline-flex;
    }

    #fit-width-enlarge + .labelled-control {
        display: none;
    }

}

#custom-labels:checked ~ #highlight-custom:checked ~ #keyboard .layer .contains-custom {
    background-color: rgb(255, 191, 163);
}

#custom-labels:not(:checked) ~ #highlight-custom + .labelled-control {
    visibility: hidden;
}

#custom-labels:not(:checked) ~ #keyboard .layer .custom {
    display: none;
}

#custom-labels:not(:checked) ~ #keyboard .layer .original {
    display: inline;
}

.layer tr {
    height: 4em;
}

.layer td {
    padding: 0;
    border: solid 0.2rem lightgray;
    overflow: hidden;
}

.layer td.spacebar {
    width: initial;
    height: initial;
}

#base-layer {
    position: initial;
    display: table;
}

.layer a {
    text-decoration: none;
}

.layer .modifier {
    color: green;
}

.layer .layer-key.held {
    background-color: gray;
    color: white;
}

.layer .multiple-key .double-tapped {
    display: inline-flex;
    flex-flow: column;
    margin-top: 0.15em;
}

.layer .multiple-key .double-tapped::after {
    content: "2x";
    border-top: thin solid black;
    font-size: 0.7em;
    opacity: 0.5;
}

.select-layer {
    position: relative;
    top: 1.1em;
}


/* Selected layer */

.select-layer_fallback:target ~ #keyboard #fallback-layer,
.select-layer_f-raise:target  ~ #keyboard #f-raise-layer,
.select-layer_f-lower:target  ~ #keyboard #f-lower-layer,
.select-layer_f-higher:target ~ #keyboard #f-higher-layer,
.select-layer_raise:target    ~ #keyboard #raise-layer,
.select-layer_lower:target    ~ #keyboard #lower-layer,
.select-layer_higher:target   ~ #keyboard #higher-layer,
.select-layer_adjust:target   ~ #keyboard #adjust-layer,
.select-layer_nav:target      ~ #keyboard #nav-layer,
.select-layer_warp:target     ~ #keyboard #warp-layer,
.select-layer_crawl:target    ~ #keyboard #crawl-layer,
.select-layer_numpad:target   ~ #keyboard #numpad-layer {
    display: table;
}


/* A fallback layer is selected, so hide non-fallback layer groups. */
.select-layer.fallback:target ~ #layers .group:not(.fallback) {
    display: none;
}

#layers #layers_fallback {
    display: none;
}

.select-layer.fallback:target ~ #layers #layers_fallback {
    display: flex;
}


/* Layer is selected directly, so make link appear not clickable. */
#fallback:target ~ * .layer-selector_fallback a,
#f-raise:target  ~ * .layer-selector_f-raise  a,
#f-lower:target  ~ * .layer-selector_f-lower  a,
#f-higher:target ~ * .layer-selector_f-higher a,
#raise:target    ~ * .layer-selector_raise    a,
#lower:target    ~ * .layer-selector_lower    a,
#higher:target   ~ * .layer-selector_higher   a,
#adjust:target   ~ * .layer-selector_adjust   a,
#nav:target      ~ * .layer-selector_nav      a,
#warp:target     ~ * .layer-selector_warp     a,
#crawl:target    ~ * .layer-selector_crawl    a,
#numpad:target   ~ * .layer-selector_numpad   a {
    color: inherit;
}

/* Layer is selected directly or indirectly, so underline. */
.select-layer_fallback:target ~ * .layer-selector_fallback a,
.select-layer_f-raise:target  ~ * .layer-selector_f-raise  a,
.select-layer_f-lower:target  ~ * .layer-selector_f-lower  a,
.select-layer_f-higher:target ~ * .layer-selector_f-higher a,
.select-layer_raise:target    ~ * .layer-selector_raise    a,
.select-layer_lower:target    ~ * .layer-selector_lower    a,
.select-layer_higher:target   ~ * .layer-selector_higher   a,
.select-layer_adjust:target   ~ * .layer-selector_adjust   a,
.select-layer_nav:target      ~ * .layer-selector_nav      a,
.select-layer_warp:target     ~ * .layer-selector_warp     a,
.select-layer_crawl:target    ~ * .layer-selector_crawl    a,
.select-layer_numpad:target   ~ * .layer-selector_numpad   a {
    text-decoration: underline;
    opacity: 1 !important;
}

.select-layer_fallback:target ~ * .layer-selector_under_fallback a,
.select-layer_f-raise:target  ~ * .layer-selector_under_f-raise  a,
.select-layer_f-lower:target  ~ * .layer-selector_under_f-lower  a,
.select-layer_f-higher:target ~ * .layer-selector_under_f-higher a,
.select-layer_raise:target    ~ * .layer-selector_under_raise    a,
.select-layer_lower:target    ~ * .layer-selector_under_lower    a,
.select-layer_higher:target   ~ * .layer-selector_under_higher   a,
.select-layer_adjust:target   ~ * .layer-selector_under_adjust   a,
.select-layer_nav:target      ~ * .layer-selector_under_nav      a,
.select-layer_warp:target     ~ * .layer-selector_under_warp     a,
.select-layer_crawl:target    ~ * .layer-selector_under_crawl    a,
.select-layer_numpad:target   ~ * .layer-selector_under_numpad   a {
    opacity: 1 !important;
}

#layers .layer-selector_base a {
    text-decoration: underline;
    color: inherit;
}

.select-layer:not(.select-layer_base):target ~ #layers .layer-selector_base a {
    text-decoration: none;
    color: revert;
}

.pair-macros:target         ~ #keyboard .layer       .pair-macros_highlight,
.emacs-nav:target           ~ #keyboard .layer       .emacs-nav_highlight,
#mouse-control:target       ~ #keyboard #nav-layer   .mouse-control_highlight,
#mouse-control_crawl:target ~ #keyboard #crawl-layer .mouse-control_highlight,
#mouse-warping:target       ~ #keyboard .layer       .mouse-warping_highlight {
    background-color: yellow !important;
}

/* Subsequent layers */

.select-layer_fallback:target ~ #keyboard .under_fallback-layer,
.select-layer_f-raise:target  ~ #keyboard .under_f-raise-layer,
.select-layer_f-lower:target  ~ #keyboard .under_f-lower-layer,
.select-layer_f-higher:target ~ #keyboard .under_f-higher-layer,
.select-layer_raise:target    ~ #keyboard .under_raise-layer,
.select-layer_lower:target    ~ #keyboard .under_lower-layer,
.select-layer_higher:target   ~ #keyboard .under_higher-layer,
.select-layer_adjust:target   ~ #keyboard .under_adjust-layer,
.select-layer_nav:target      ~ #keyboard .under_nav-layer,
.select-layer_warp:target     ~ #keyboard .under_warp-layer,
.select-layer_crawl:target    ~ #keyboard .under_crawl-layer,
.select-layer_numpad:target   ~ #keyboard .under_numpad-layer {
    display: table;
}

.select-layer_fallback:target ~ #keyboard .under_fallback-layer td,
.select-layer_f-raise:target  ~ #keyboard .under_f-raise-layer  td,
.select-layer_f-lower:target  ~ #keyboard .under_f-lower-layer  td,
.select-layer_f-higher:target ~ #keyboard .under_f-higher-layer td,
.select-layer_raise:target    ~ #keyboard .under_raise-layer    td,
.select-layer_lower:target    ~ #keyboard .under_lower-layer    td,
.select-layer_higher:target   ~ #keyboard .under_higher-layer   td,
.select-layer_adjust:target   ~ #keyboard .under_adjust-layer   td,
.select-layer_nav:target      ~ #keyboard .under_nav-layer      td,
.select-layer_warp:target     ~ #keyboard .under_warp-layer     td,
.select-layer_crawl:target    ~ #keyboard .under_crawl-layer    td,
.select-layer_numpad:target   ~ #keyboard .under_numpad-layer   td {
    color: rgba(0, 0, 0, 0.25);
    box-shadow: none;
}

.select-layer_fallback:target ~ #keyboard .under_fallback-layer .modifier,
.select-layer_f-raise:target  ~ #keyboard .under_f-raise-layer  .modifier,
.select-layer_f-lower:target  ~ #keyboard .under_f-lower-layer  .modifier,
.select-layer_f-higher:target ~ #keyboard .under_f-higher-layer .modifier,
.select-layer_raise:target    ~ #keyboard .under_raise-layer    .modifier,
.select-layer_lower:target    ~ #keyboard .under_lower-layer    .modifier,
.select-layer_higher:target   ~ #keyboard .under_higher-layer   .modifier,
.select-layer_adjust:target   ~ #keyboard .under_adjust-layer   .modifier,
.select-layer_nav:target      ~ #keyboard .under_nav-layer      .modifier,
.select-layer_warp:target     ~ #keyboard .under_warp-layer     .modifier,
.select-layer_crawl:target    ~ #keyboard .under_crawl-layer    .modifier,
.select-layer_numpad:target   ~ #keyboard .under_numpad-layer   .modifier {
    color: rgba(0, 128, 0, 0.25);
}

.select-layer_fallback:target ~ #keyboard .under_fallback-layer .held,
.select-layer_f-raise:target  ~ #keyboard .under_f-raise-layer  .held,
.select-layer_f-lower:target  ~ #keyboard .under_f-lower-layer  .held,
.select-layer_f-higher:target ~ #keyboard .under_f-higher-layer .held,
.select-layer_raise:target    ~ #keyboard .under_raise-layer    .held,
.select-layer_lower:target    ~ #keyboard .under_lower-layer    .held,
.select-layer_higher:target   ~ #keyboard .under_higher-layer   .held,
.select-layer_adjust:target   ~ #keyboard .under_adjust-layer   .held,
.select-layer_nav:target      ~ #keyboard .under_nav-layer      .held,
.select-layer_warp:target     ~ #keyboard .under_warp-layer     .held,
.select-layer_crawl:target    ~ #keyboard .under_crawl-layer    .held,
.select-layer_numpad:target   ~ #keyboard .under_numpad-layer   .held {
    background-color: #ECECEC;
    color: rgba(0, 0, 0, 0.25);
}

.select-layer_fallback:target ~ #keyboard .under_fallback-layer caption,
.select-layer_f-raise:target  ~ #keyboard .under_f-raise-layer  caption,
.select-layer_f-lower:target  ~ #keyboard .under_f-lower-layer  caption,
.select-layer_f-higher:target ~ #keyboard .under_f-higher-layer caption,
.select-layer_raise:target    ~ #keyboard .under_raise-layer    caption,
.select-layer_lower:target    ~ #keyboard .under_lower-layer    caption,
.select-layer_higher:target   ~ #keyboard .under_higher-layer   caption,
.select-layer_adjust:target   ~ #keyboard .under_adjust-layer   caption,
.select-layer_nav:target      ~ #keyboard .under_nav-layer      caption,
.select-layer_warp:target     ~ #keyboard .under_warp-layer     caption,
.select-layer_crawl:target    ~ #keyboard .under_crawl-layer    caption,
.select-layer_numpad:target   ~ #keyboard .under_numpad-layer   caption {
    opacity: 0;
}

.select-layer_fallback:target ~ #keyboard .under_fallback-layer .layer-key a,
.select-layer_f-raise:target  ~ #keyboard .under_f-raise-layer  .layer-key a,
.select-layer_f-lower:target  ~ #keyboard .under_f-lower-layer  .layer-key a,
.select-layer_f-higher:target ~ #keyboard .under_f-higher-layer .layer-key a,
.select-layer_raise:target    ~ #keyboard .under_raise-layer    .layer-key a,
.select-layer_lower:target    ~ #keyboard .under_lower-layer    .layer-key a,
.select-layer_higher:target   ~ #keyboard .under_higher-layer   .layer-key a,
.select-layer_adjust:target   ~ #keyboard .under_adjust-layer   .layer-key a,
.select-layer_nav:target      ~ #keyboard .under_nav-layer      .layer-key a,
.select-layer_warp:target     ~ #keyboard .under_warp-layer     .layer-key a,
.select-layer_crawl:target    ~ #keyboard .under_crawl-layer    .layer-key a,
.select-layer_numpad:target   ~ #keyboard .under_numpad-layer   .layer-key a {
    color: inherit;
}


.feature:target ~ #feature-descriptions {
    margin-bottom: 23vh;
}

.feature:target ~ #feature-descriptions .card {
    display: none;
}

.pair-macros:target   ~ #feature-descriptions #pair-macros_description,
.emacs-nav:target     ~ #feature-descriptions #emacs-nav_description,
.mouse-control:target ~ #feature-descriptions #mouse-control_description,
#mouse-warping:target ~ #feature-descriptions #mouse-warping_description {
    display: block;
}

.pair-macros:target   ~ #feature-descriptions #pair-macros_description   h1 > a,
.emacs-nav:target     ~ #feature-descriptions #emacs-nav_description     h1 > a,
.mouse-control:target ~ #feature-descriptions #mouse-control_description h1 > a,
#mouse-warping:target ~ #feature-descriptions #mouse-warping_description h1 > a {
    color: inherit;
}

.pair-macros:target   ~ #feature-descriptions #pair-macros_description   .tabs,
.emacs-nav:target     ~ #feature-descriptions #emacs-nav_description     .tabs,
.mouse-control:target ~ #feature-descriptions #mouse-control_description .tabs {
    display: flex;
}


.pair-macros:target         ~ #features a[href="#pair-macros"],
.emacs-nav:target           ~ #features a[href="#emacs-nav"],
.mouse-control:target       ~ #features a[href="#mouse-control"],
#mouse-warping:target       ~ #features a[href="#mouse-warping"],
#pair-macros:target         ~ #feature-descriptions #pair-macros_description .tabs a[href="#pair-macros"],
#pair-macros_higher:target  ~ #feature-descriptions #pair-macros_description .tabs a[href="#pair-macros_higher"],
#emacs-nav:target           ~ #feature-descriptions #emacs-nav_description   .tabs a[href="#emacs-nav"],
#emacs-nav_lower:target     ~ #feature-descriptions #emacs-nav_description   .tabs a[href="#emacs-nav_lower"],
#mouse-control:target       ~ #feature-descriptions #mouse-control_description .tabs a[href="#mouse-control"],
#mouse-control_crawl:target ~ #feature-descriptions #mouse-control_description .tabs a[href="#mouse-control_crawl"] {
    color: inherit;
    text-decoration: underline;
}

.feature:target ~ #features #features_close {
    display: flex;
}

#pair-macros:target         ~ #features #lower_close,
#pair-macros_higher:target  ~ #features #higher_close,
#emacs-nav:target           ~ #features #raise_close,
#emacs-nav_lower:target     ~ #features #lower_close,
#mouse-control:target       ~ #features #nav_close,
#mouse-control_crawl:target ~ #features #crawl_close,
#mouse-warping:target       ~ #features #warp_close {
    display: flex;
}


.layer .miser {
    font-size: 0.75em;
}

.layer .danger {
    box-shadow: inset 0 0 0.2em 0.1em #FF0000;
}

.layer :is(.yay, .num) {
    box-shadow: inset 0 0 0.2em 0.1em #00FF00;
}

.layer .nav {
    box-shadow: inset 0 0 0.2em 0.1em #0000FF;
}

.layer .function {
    box-shadow: inset 0 0 0.2em 0.1em rgb(255, 184, 0);
}

.layer .special {
    box-shadow: inset 0 0 0.2em 0.1em rgb(135, 142, 255);
}

.layer .control {
    box-shadow: inset 0 0 0.2em 0.1em rgb(157, 41, 156);
}

.layer .system {
    box-shadow: inset 0 0 0.2em 0.1em white;
}

.layer .void {
    opacity: 0;
}


#feature-descriptions .card {
    margin-top: 1em;
}

#feature-descriptions .card .title-and-tabs {
    display: flex;
    flex-flow: row;
}

#feature-descriptions .card .tabs {
    display: none;
    margin: 0 0 0 1em;
    position: relative;
    top: 0.2em;
}

#feature-descriptions .card .tabs ul {
    margin: 0;
}

#feature-descriptions table {
    margin-left: 0;
    font-size: larger;
}

#feature-descriptions table:last-child {
    margin-bottom: 0.5em;
}


.normal-key {
    position: relative;
}

.normal-key .label {
    position: absolute;
    margin: 0.3em 0.5em;
}

.normal-key .label.normal {
    bottom: 0;
    left: 0;
}

.normal-key .label.shift {
    top: 0;
    left: 0;
}

.normal-key .label.altgr {
    bottom: 0;
    right: 0;
}

.normal-key .label.shift-altgr {
    top: 0;
    right: 0;
}
