#droplets-table {
    white-space: nowrap;
}

#droplets-table .name {
    text-align: left;
    border-left: none;
}

#droplets-table th, #droplets-table td {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}
