@import "http://www.hexstreamsoft.com/index.css";


.breadcrumbs a {
    padding-right: 0.5em;
}


#page-header {
    margin-top: 3.5em;
}

#page-header h1 {
    font-size: 3.5em;
    letter-spacing: 0.1em;
}

#page-header .description {
    font-size: large;
    line-height: 1.2em;
    letter-spacing: 0.025em;
}


/* TODO: Make global. Since there's only one instance, it's hard to distinguish generalities from specifics. */
.navtable {
    border: 0.15em solid black;
    margin-bottom: 1em;
}

.navtable th, .navtable td {
    padding: 0;
}

.navtable th a, .navtable td a {
    display: block;
    padding: 0.4em 0.6em;
}

.navtable th a[href]:hover, .navtable td a[href]:hover, .navtable th a[href]:focus, .navtable td a[href]:focus {
    background: #ECE0A5;
}


#navtable th a {
    color: inherit;
}

#navtable th a[href]:hover {
    background: #E0E0E0;
    text-decoration: underline;
}
