@import "http://www.hexstreamsoft.com/index.css";


.breadcrumbs a {
    padding-right: 0.5em;
}


#page-header {
    margin-top: 3.5em;
}

#page-header h1 {
    font-size: 3.5em;
    letter-spacing: 0.1em;
}

#page-header .description {
    font-size: large;
    line-height: 1.2em;
    letter-spacing: 0.025em;
}
