@import "https://global.hexstream.dev/css/cards.css";

kbd.key-sequence {
    padding: 0.1em 0.2em;
    margin: 0 0.2em;
    border: thin dashed #AAAAAA;
    white-space: nowrap;
}

kbd.long.key-sequence {
    white-space: initial;
}

kbd.key-sequence kbd, kbd.key-sequence var {
    white-space: nowrap;
}

.built-in {
    color: green !important;
}

.custom {
    color: orange !important;
}


.cards .card .hoisted {
    font-size: large;
    opacity: 1;
}
