[Desktop Entry]
Type=Application
Name=StumpWM
Exec=/usr/local/bin/stumpwm
NoDisplay=true
# name of loadable control center module
# name we put on the WM spec check window
X-GNOME-WMName=StumpWM
# back compat only
X-GnomeWMSettingsLibrary=metacity
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
X-Ubuntu-Gettext-Domain=stumpwm
