section:not(#usage-notes) > p {
    text-align: center;
}


table .upcoming, table .redirect {
    color: rgba(0, 0, 0, 0.6);
}

table .upcoming a {
    color: inherit;
}


.dns-table {
    white-space: nowrap;
}

.dns-table .main {
    border: 0.15em solid black;
}

.dns-table :is(.zone, .name, .type, .value) {
    vertical-align: top;
}

.dns-table :is(.zone, .name, .registration-date) {
    text-align: end;
}

.dns-table .type {
    text-align: center;
}

.dns-table .comments p {
    margin: 0;
}

.dns-table .comments p + p {
    margin-top: 0.2em;
}

.dns-table .ownership-verification {
    color: rgba(0, 0, 0, 0.3);
}
