main dl dt {
    font-size: x-large;
}

main dl dt .anchor {
    font-size: large;
}

main dl dl dt, main .item-section dl dt {
    font-size: large;
    margin-top: 1em;
}

main dl dl dt:first-child, main .item-section dl dt:first-child {
    margin-top: 0.6em;
}

main dl dl dd, main .item-section dl dd {
    margin-left: 3.5em;
    margin-top: 0.25em;
}

main dl dl dd p, main .item-section dl dd p {
    margin-left: 0;
}
