main dl dt {
    font-size: x-large;
}

main dl dt .anchor {
    font-size: large;
}

main dl dt {
    font-size: large;
    margin-top: 1em;
}

main dl dt:first-child {
    margin-top: 0.6em;
}

main dl dd {
    --dd-default-margin-left: 2em;
    margin-top: 0.25em;
}

main dl dd p {
    margin-left: 0;
}
