table .registration-date {
    text-align: right;
}

table .redirect, table .redirect a {
    color: rgba(0, 0, 0, 0.3333);
}


#my-config_domain-names_navbox {
    display: table;
    width: auto;
    font-size: larger;
}

#my-config_domain-names_navbox .inlined-nodes li {
    padding-right: 1.1em;
}


main dl dt {
    font-size: x-large;
}

main dl dt .anchor {
    font-size: large;
}

main dl dl dt {
    font-size: large;
    margin-top: 1em;
}

main dl dl dt:first-child {
    margin-top: 0.6em;
}

main dl dl dd {
    margin-left: 3.5em;
    margin-top: 0.25em;
}

main dl dl dd p {
    margin-left: 0;
}


#my-config_dns_table {
    margin-left: -9em;
    border: none;
}

#my-config_dns_table .main {
    border: 0.15em solid black;
}

#my-config_dns_table .category {
    text-align: right;
    vertical-align: top;
    background: transparent;
    border: 0.15em solid transparent;
    border-right: 0.15em solid black;
    color: rgba(0, 0, 0, 0.4);
}

#my-config_dns_table .category a {
    color: inherit;
}

#my-config_dns_table .category a:hover {
    text-decoration: underline;
}

#my-config_dns_table .zone {
    text-align: right;
    vertical-align: top;
}

#my-config_dns_table .name {
    text-align: right;
}

#my-config_dns_table .type {
    text-align: center;
}

#my-config_dns_table .comments p {
    margin: 0;
}

#my-config_dns_table .comments p + p {
    margin-top: 0.2em;
}

#my-config_dns_table .ownership-verification {
    color: rgba(0, 0, 0, 0.3);
}
