#domain-names-table {
    font-size: medium;
}

#domain-names-table caption {
    margin-bottom: 0.4em;
}

.nowrap {
    white-space: nowrap;
}

main .items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

main .items .item-section {
    flex: 1 0 auto;
    width: auto;
    margin: 1.5em 0;
    box-sizing: border-box;
    min-width: 25em;
    max-width: 35em;
}

/* If we have enough space for 2, including sidebar. */
@media (min-width: 65em) {
    main .items .item-section {
        max-width: 50%;
    }
}

main .items .item-section.half-width {
    flex: 0.01 1 auto;
}

main .item-section p {
    margin-right: 0;
}

main .item-section h1 {
    margin-top: 0;
}

main .item-section .intend-to-drop {
    color: red;
}

#my-config_domain-names_navbox {
    display: table;
    width: auto;
    font-size: larger;
}

#my-config_domain-names_navbox .inlined-nodes li {
    padding-right: 1.1em;
}
