.navtable {
    white-space: nowrap;
    font-size: medium;
}

.navtable .purpose {
    white-space: revert;
}

@media (min-width: 79em) {
    /* Make sure we don't start wrapping just to awkwardly fit even more sections. */
    .navtable .purpose {
        white-space: nowrap;
    }
}

@media (min-width: 48.125em) and (max-width: 64.5em), (min-width: 93.75em) {
    /* We have plenty of space for one table, or 2 tables, so increase their font size. */
    .navtable {
        font-size: larger;
    }
}


.tabs + .tabs {
    margin-top: -0.5em;
}


#inlined-sections {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#inlined-sections > section {
    flex: 1 1;
    margin: 1em 2em;
}

#inlined-sections > section > .header > .description {
    display: table;
    margin: -1.2em 0 0 2.2em;
    padding: 0.2em;
    padding-top: 0.25em;
    opacity: 0.6;
}

.navtable {
    margin-left: 0;
    margin-right: 0;
}

:is(#articles, #radar).tabs.contains-title h1 a {
    color: inherit;
}

#articles {
    margin-top: -1em;
}

#radar {
    margin-top: 1.8em;
}

#radar:target {
    opacity: revert;
}
