#my-config_s3_buckets-table .website, #my-config_s3_buckets-table .cdn {
    text-align: center;
}

#my-config_cloudfront_summary-table .raw-name {
    text-align: right;
}

table .upcoming, table .redirect {
    color: rgba(0, 0, 0, 0.6);
}
