kbd.key-sequence {
    padding: 0.1em 0.2em;
    margin: 0 0.2em;
    border: thin dashed #AAAAAA;
    white-space: nowrap;
}

kbd.long.key-sequence {
    white-space: initial;
}

kbd.key-sequence kbd, kbd.key-sequence var {
    white-space: nowrap;
}

.built-in {
    color: green;
}

.custom {
    color: orange;
}

dd p:first-child {
    margin-top: 0.5em;
}
